# Google Sheets API Key
NEXT_PUBLIC_GOOGLE_API_KEY=AIzaSyC2bT4OYJ0u5yVeKIfoeQKgBe5kd1Fu6fE

# Google Spreadsheet ID (Từ link Google Sheet của bạn)
NEXT_PUBLIC_GOOGLE_SHEET_ID=1JsYLeR9cgxbffi-vr560eaAxD9gchj72VBCe9nY5-r0

# Tên sheet tab (Mặc định: Sheet1 hoặc Trang tính1)
NEXT_PUBLIC_GOOGLE_SHEET_NAME=Sheet1

# Google Apps Script Web App Exec URL (Dùng để ghi và đọc dữ liệu)
NEXT_PUBLIC_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbz4GtvYx8ozXrNK7QKl7zMdLnICVIK7VqUEQzCv3GMjBTFtVJ2tv4eN8OhMWzof8IfiAw/exec
